#major {
  color: rgb(184, 0, 0);
  font-size: 2em;
  margin-left: 6.75em; 
}

.activestatus {
  font-size: 1em;
  margin-bottom: 2em;  
}

#activestatustext {
  padding-left: 18em; 
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.activestatus button {
  display: table-cell;
  font-size: 1em;
  border: 1px solid black;
  width: 8em;
  padding: 0.1em 2em;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.delete {
    float:right
}

#active {
  color: white;
  background-color: rgb(141, 0, 0);
}

#inactive {
  color: black;
  background-color: white;
}

#validationtable {
    display: table-cell;
    float: right;
    font-size: 1em;
    margin-right: 6em;
    margin-left: 1em;
}
.legend {
  display: table-cell;
  float: left;
  font-size: 1em;
  margin-left: 6em;
  margin-right: 1em;
}


.legend h4 {
  background-color: rgb(184, 0, 0);
  color: white;
  border: 1px solid black;
  padding: 0.2em 1em;
  margin: 0;
}

.legend ul {
  list-style-type: none;
  background-color: rgb(213, 213, 213);
  margin: 0;
  padding: 0.2em 1em;
  border: 1px solid black;
  border-top: none;
}

.legend li {
  display: block;
  padding: 0.1em 0;
}

#tableholder {
  margin: 0;
}

.maintable1 {
  display: table;
  width: 50%;
  font-size: 1em;
  border: 1px solid black;
  text-align: center;
}

.maintable2 {
  display: table;
  width: 50%;
  font-size: 1em;
  border: 1px solid black;
  text-align: center;
  margin-left: 20.5em;
  margin-bottom: 1em;
}

.tableheader {
  list-style-type: none;
  display: table-row;
  background-color: rgb(184, 0, 0);
  color: white;
}

.tableheader li {
  float: left;
  display: table-cell;
  width: 25%;
  border: 2px solid black;
  border-right: none;
  padding: 0.3em 1em;
}

.tableheader li:last-child {
  border-right: 2px solid black;
}

.table1 {
  list-style-type: none;
  display: inline-grid;
  width: 25%;
  padding:10px
}
  
.table1 li {
  float: right;
  border-top: 0.1em solid rgb(184, 0, 0);
  border-left: 0.1em solid rgb(184, 0, 0);
  border-right:  0.1em solid rgb(184, 0, 0);
  border-bottom: 0.1em solid rgb(184, 0, 0);
  margin: .25em 0;
}

.table1 li:hover {
  border: 0.1em dotted rgb(184, 0, 0);
}

.table1 li:last-child {
  border-right: 0.1em solid rgb(184, 0, 0);
}

.last {
  border-bottom: 0.2em solid rgb(184, 0, 0);
}

#tagM {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(0, 129, 228);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to top right, rgb(0, 129, 228), rgb(0, 198, 228));
  color: white;
  position: absolute;
  bottom: 0.1em;
  right: 0.1em;
}

#tagA {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(220, 81, 0);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom right, rgb(255, 155, 45), rgb(220, 81, 0));
  color: white;
  position: absolute;
  bottom: 0.1em;
  right: 0.1em;
}

#tagE {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(101, 0, 192);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(172, 0, 248), rgb(101, 0, 192));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

#tagSS {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(0, 135, 172);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(0, 217, 231), rgb(0, 135, 172));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}
	    
#tagH {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(234, 146, 0);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(255, 202, 60), rgb(234, 146, 0));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

#tagR {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(217, 109, 0);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to top, rgb(146, 62, 0), rgb(217, 109, 0));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

#tagC {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(194, 60, 168);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(255, 113, 255), rgb(194, 60, 168));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

#tagQ {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(75, 51, 200);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(0, 161, 255), rgb(75, 51, 200));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

#tagNS {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(0, 164, 21);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(17, 239, 77), rgb(0, 164, 21));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
} 

#tagTE {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(79, 79, 79);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to top, rgb(79, 79, 79), rgb(159, 159, 159));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

#tagNSL {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(118, 139, 0);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(181, 207, 25), rgb(118, 139, 0));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

#tagD {
  font-size: 0.7em;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  outline: none;
  border-style: solid;
  border-color: rgb(178, 0, 127);
  border-width: 0.1em;
  border-radius: 1em;
  background: linear-gradient(to bottom, rgb(255, 0, 202), rgb(178, 0, 127));
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

.cell {
  position: relative;

  padding: 0em 0em;

  height: 5em;
}

.tabletext {
 
    line-height: 75px;
  text-align: center;

}

.table2 {
  list-style-type: none;
  display: table-row;
}


.table2 li {
  float: left;
  display: table-cell;
  width: 25%;
  border: 0.1em dashed rgb(100, 100, 100);
  border-left: 0.2em dashed rgb(100, 100, 100);
  border-right: none;
  padding: 1em 1em;
}

.table2 li:hover {
  border: 0.1em solid rgb(66, 66, 66);
}

.table2 li:last-child {
  border-right: 0.1em dashed rgb(100, 100, 100);
}

.tableborder {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 0.1em;
  margin-left: 20.5em;
}

.tableborder td {
  height: 0em;
  border-bottom: 0.3em solid black;
}

.creditsmet {
  float: right;
  font-size: 1em;
  margin-right: 6em;
  position: relative;
  width: 19.5em;
}

.creditsmet h4 {
  background-color: rgb(184, 0, 0);
  color: white;
  border: 1px solid black;
  padding: 0.2em 1em;
  margin: 0;
}

.creditsmet ul {
  list-style-type: none;
  background-color: rgb(213, 213, 213);
  margin: 0;
  padding: 0.2em 1em;
  border: 1px solid black;
  border-top: none;
}

.creditsmet li {
  display: block;
  padding: 0.1em 0;
}

.refresh {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
}

.check {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 1.2em;
  color: red;
}